.header {
  background: url("../../../img/images/Lanzarote/bg.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  &__wave {
      position: absolute;
      bottom: -4px;
      width: 100%;
  }
  &__container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
  padding-top: 195px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &-tours {
      max-width: 588px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &-tour {
      margin: 5px;
      width: 280px;
      height: 280px;
      background: #ffffff;
      border-radius: 20px;
      color: #1e2843;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 64px;
      &.active {
        background: #1e2843;
        color: #fff;
      }
    }
    & h1 {
      color: #fff;
      text-align: center;
    }
  }
}

@media(max-width: 1550px) {
  .header {
    height: 750px;
    &__container {
      padding-top: 150px;
      &-tour {
        width: 200px;
        height: 200px;
      }
    }
  }
}
