.tour {
    overflow: hidden;
    &__header {
        height: 100vh;
        .container {
            padding-top: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-buttons {
            max-width: 484px;
            width: 100%;
            justify-content: space-between;
            display: flex;
        }
        &-left {
            max-width: 690px;
        }
    }
    .slider {
        padding-top: 130px;
    }
}

@media (max-width: 768px) {
    .tour {
        &__header {
            &-buttons {
                max-width: 288px;
            }
            &-right {
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                & div:first-child {
                    width: 35vh;
                    height: 35vh;
                }
            }
        }
    }
}
