.lanzarote-tours {
  position: relative;
  &__title {
    margin-top: 40px;
  }
}

.lanzarote-audiobook {
  margin-top: 100px;
}

.card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
