.first_block {
  padding-top: 306px;
  position: relative;
  & h1 {
    max-width: 460px;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__left {
    max-width: 690px;
    text-align: center;
  }
  &__right {
    max-width: 690px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__qr {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__qr-desc {
    width: 200px;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    opacity: 50%;
  }
  &__img {
    width: 150px;
    height: 150px;
    background-image: url("../../assets/qr.png");
  }
}
/* ------------------------------------- Second Block ----------------------------------------------------------------- */

.second_block {
  padding-top: 82px;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__left,
  &__right {
    max-width: 690px;
  }
}

/* -------------------------------------  with icon Block ----------------------------------------------------------------- */

.withicon_block {
  padding-top: 306px;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__desc {
    max-width: 470px;
  }
  &__left,
  &__right {
    display: flex;
    position: relative;
    max-width: 690px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
