.menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 999;
  background: #fff;
  &-light {
    .menu__container {
      &-submenu {
        li {
          color: #1e2843!important;
        }
      }
      &-list {
        a.active {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
  &__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      max-width: 225px;
      width: 100%;
    }
    &-submenu {
      list-style-type: none;
      padding-left: 0;
      background: #fff;
      z-index: 1000;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      padding: 13px 28px;
      left: -28%;
      top: 35px;
      transform-origin: 0 0;
      transition: .5s ease-in-out;
      position: absolute;
      transform-origin: 0 0;
      opacity: 1;
      &active {
        position: relative;
      }
      & li {
        position: relative;
        padding: 5px 0;
      }
    }
    &-list {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      max-width: 665px;
      justify-content: space-between;
      width: 100%;
      a {
        text-decoration: none;
        position: relative;
        font-size: 24px;
        color: #1E2843;
        &.active {
          border-bottom: 2px solid #1e2843;
        }
      }
      & li {
        color: #1e2843;
        position: relative;
        white-space: nowrap;
        & span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -22px;
          display: flex;
          & svg {
            margin-top: 4px;
          }
          &.active {
            & svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    &-flags {
      list-style-type: none;
      max-width: 225px;
      width: 100%;
      display: flex;
      padding-left: 0;
      justify-content: space-between;
      align-items: center;
      & li {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid transparent;
          cursor: pointer;
          &.active {
            border: 2px solid #DFDFDF;
            background: #fff;
          }
          &:hover {
              border: 2px solid #DFDFDF;
          }
      }
    }
  }
}

@media(max-width: 1550px) {
  .menu {
    height: 90px;
  }
}
