.about {
  padding-top: 82px;
  position: relative;
  & h1 {
    margin-bottom: 40px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__left,
  &__right {
    max-width: 690px;
  }
}

@media(max-width: 768px) {
  .about {
    &__flex {
      display: block;
    }
  }
}
