.bubblesWithImages {
    padding: 130px 0;
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        max-width: 1205px;
        &-items {
            display: flex;
            justify-content: space-between;
            max-width: 460px;
            width: 100%;
        }
    }
    &__title {
        display: flex;
        & img {
            margin-right: 16px;
        }
    }
    &__flex {
        display: flex;
        margin-bottom: 256px;
        .bubblesWithImages__right {
            margin-left: 150px;
        }
        &-reverse {
            flex-direction: row-reverse;
            .bubblesWithImages__right {
                margin-right: 150px;
            }
        }
    }
    &__left {
        max-width: 690px;
        & p {
            margin-top: 24px;
        }
    }
}

@media(max-width: 768px) {
    .bubblesWithImages {
        &__buttons {
            display: flex;
            flex-direction: column-reverse;
            &-items {
                margin-bottom: 20px;
                max-width: 288px;
            }
        }
        &__flex {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 65px;
            align-items: center;
        }
        &__right  {
            margin-left: 0!important;
            margin-right: 0!important;
            margin-bottom: 25px;
        }
        &__left {
            p {
                line-height: 30px;
            }
        }
    }
}
