.mainslider {
  padding-top: 206px;
  padding-bottom: 206px;
  .container {
    margin: 0 0 0 auto;
    max-width: 1640px;
  }
  &__container {
    height: 500px;
  }
  &__lanzarote {
    position: relative;
    outline: none;
    p {
      color: #ffffff;
      position: absolute;
      bottom: 5%;
      left: 5%;
    }
    h1 {
      color: #1e2843;
      position: absolute;
      max-width: 50px;
      top: 15%;
      left: 5%;
    }
  }
  &__gomera {
    position: relative;
    outline: none;
    p {
      color: #1e2843;
      position: absolute;
      bottom: 5%;
      left: 5%;
      z-index: 3;
    }
    h1 {
      color: #1e2843;
      position: absolute;
      max-width: 50px;
      z-index: 3;
      top: 15%;
      left: 5%;
      margin: 0 !important;
    }
    .vectorbubble {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }
  h1 {
    margin-bottom: 58px;
    margin-left: 55px;
  }

  img {
    z-index: -25;
    border-radius: 25px;
  }
}
