.footer {
  padding-bottom: 30px;
  position: relative;
  &__svg {
    position: fixed;
    bottom: 0;
    height: 100vh;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%);
  }
  &__bottom {
    &-wave {
      position: absolute !important;
      bottom: -75px !important;
      right: -175px;
      width: 535px;
      height: 300px;
      transform: rotate(-35deg);
      z-index: 10001;
      & div:first-child {
        height: 100%;
      }
      & p {
        top: 45%;
        right: 40%;
        transform: rotate(35deg) translate(-50%);
        position: absolute;
      }
    }
  }
  & button {
    margin: 0 5px;
  }
  & ul {
    list-style-type: none;
    padding-left: 0;
    a {
      text-decoration: none;
    }
    & li {
      margin-bottom: 16px;
      font-size: 24px;
      color: #1e2843;
      position: relative;
      z-index: 3;
    }
  }
  &__container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__right {
    & img {
      margin: 0 5px;
    }
    & p {
      margin-bottom: 12px;
    }
  }
  &__right-sharebuttons {
    display: flex;
  }
  background: #d5effb;
}

#morphing {
  width: 100%;
  position: absolute;
}

.ticket-link:hover {
    cursor:url('../../img/images/cursor.png'),auto;
}

@media(max-width: 768px) {
  .footer {
    &__container {
      flex-wrap: wrap;
      width: auto;
      padding: 0 15px;
      margin-bottom: 100px;
    }
  }
}
