h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 73.6px;
  color: #1E2843;
}

P {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #1E2843;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}