h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 73.6px;
  color: #1e2843;
}

P {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #1e2843;
}

h3 {
  color: #1e2843;
  font-size: 36px;
  margin: 0;
}

.slick-arrow.slick-next {
  width: 70px;
  height: 70px;
  right: 100px;
  border-radius: 50%;
  background: #fff!important;
  box-shadow: 0 5px 15px 5px rgb(218, 218, 218);
}

.slick-arrow.slick-next:before {
  content: url('./img/svg/arrow-right.svg');
  color: #000;
}

.section__margin {
  margin-top: 180px;
}

.section__margin > div:first-child {
  position: relative;
  bottom: -4px;
}

.section__margin > div:last-child {
  position: relative;
  bottom: 6px;
}

.subTitle {
  margin: 76px 0 158px 0;
}

.rotate__wave {
  transform: rotate(180deg);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

/* bubble animation for svg */

@keyframes rotateBubbleSvg {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to { 
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@media(max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  h1 {
    font-size: 58px;
  }
  
  P {
    font-size: 20px;
  }
  
  h3 {
    font-size: 28px;
  }
  .seven_block__girl {
    width: 400px;
  }
}
                                           