.faq {
  h1 {
    margin: 20px 0 20px 0;
  }

  &__accordeons {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    width: 47%;
  }

  &__right {
    width: 47%;
  }

  &__form {
    z-index: 3;
    width: 100%;
    margin-top: 100px;
    position: relative;
    border-radius: 20px;
    padding: 30px 0 30px 60px;
    background-color: #d1f1fd;
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }
  }

  &__inputs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  button {
    min-width: 80px;
  }
}

.submit-desc {
  order: 4;
  opacity: 0.5;
  font-size: 14px;
  line-height: 21px;
  color: #1e2843;
}

@media (max-width: 768px) {
  .faq {
    &__form {
      display: flex;
      padding-top: 10px;
      flex-direction: column;
      p {
        width: 75%;
      }
    }
    &__inputs {
      width: 55%;
      align-items: baseline;
      justify-content: space-between;
      p {
        font-size: 14px;
      }
    }

    button {
      margin-top: 15px;
      order: 4;
    }
  }

  .submit-desc {
    order: 3;
    max-width: 75%;
    & a {
      text-decoration: none;
    }
  }
}

@media (max-width: 410px) {
  .faq__left,
  .faq__right {
    width: 100%;
  }

  .faq {
    &__form {
      padding: 15px;
      p {
        width: 100%;
      }
    }
    &__inputs {
      width: 100%;
      p {
        margin-top: 0;
      }
    }
    button {
      margin-top: 0;
    }
  }

  .submit-desc {
    order: 3;
    max-width: 65%;
    & a {
      text-decoration: none;
    }
  }
}
