.slider {
    padding-bottom: 50px;
    .container {
        margin: 0 0 0 auto;
        max-width: 1640px;
    }
    &__container {
        height: 500px;
    }
    & div {
        outline: none;
    }
    h1 {
        margin-bottom: 58px;
    }
}

@media(max-width: 1200px) {
    .slider {
        &__container {
            height: 230px;
            & div:first-child {
                width: 230px!important;
                height: 230px!important;
            }
        }
    }
}